.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.time{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
    border-radius: 3rem;
    font-size: 24px;
    background-color: black;
    color: bisque;
}